<button class="zoom-in"  {{action "zoomIn" }}>Zoom In </button>
<button class="zoom-out" {{action "zoomOut"}}>Zoom Out</button>
<button class="zoom-fit" {{action "zoomFit"}}>Zoom Fit</button>
<button class="rotate-clockwise" {{action "rotate" 5}}>Rotate Clockwise</button>
<button class="rotate-counter-clockwise" {{action "rotate" -5}}>Rotate CounterClockwise</button>
<div style="whitespace:no-wrap;">Scale: {{scale}} ({{width}}x{{height}}) Pan: ({{panX}}, {{panY}}) Rotation: ({{rotation}})</div>
