<button class='zoom-in'  {{action 'zoomIn' }}>Zoom In </button>
<button class='zoom-out' {{action 'zoomOut'}}>Zoom Out</button>
<button class='zoom-fit' {{action 'zoomFit'}}>Zoom Fit</button>

Scale: {{scale}} ({{width}}x{{height}})
